*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }


  body {
    font-family: sans-serif;
    font-size: 10px;
    width: 100%;
    min-height: 100vh;
  }

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(250, 166, 56);
    align-content: center;
    height: 100vh;    
}



.counter-container{
    background-color: aliceblue;
    border: 1px solid black;
    align-self: center;
    padding: 10px;
    flex-shrink: 1;
    text-align: center;  
    width: 80%;
    border-radius: 10px;
    box-shadow: 7px 7px 7px 6px;
}
.question{
    color: black;
    font-size: 20px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}
.answer{
    text-align: justify;
    font-size: 15px;
    margin-top: 10px;
    padding: 20px;
    font-family: "Open Sans", sans-serif;    
    display: none;
}


.plus-icon{
    color: rgb(78, 158, 158);
    font-size: 30px;
    
}
.plus-icon:hover{
    display: inline-block;
    transform: rotate(45deg);
    color: red;
}
